// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.topbar-avatar img
{
	background-color:red !important;
	width:18px;
	height:18px;
}