// Place all the styles related to the profile controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.profileCover
{
	position: relative;

	.coverImage{
		height: 315px;
		background-color:red;
	}
	.profileAvatar{
		height:160px;
		width:160px;
		position:absolute;
		background-color:green;
		border: 4px solid #FFF;
		border-radius: 2px;
		box-shadow: none;
		left: 15px;
		margin-top: 0px;
		top: 180px;
		z-index: 2;

		overflow:hidden;
	}

	.profileFullname{
		bottom: 12px;
		left: 201px;
		position: absolute;

		color: #FFF;
		text-rendering: optimizelegibility;
		text-shadow: 0px 0px 3px rgba(0, 0, 0, 0.8);

		font-size: 24px;
		font-weight: 500;
		line-height: 30px;
	}
}

#profileHeadline{
	height: 43px;
	background-color: white;
	line-height: 43px;
	position: relative;

	.profileAction{
		position:absolute;
		right:0px;
		top: -45px;

	}
	a{
		border-right: 1px solid #E9EAED;
		float: left;
		font-size: 14px;
		font-weight: bold;
		height: 43px;
		line-height: 3.05;
		padding: 0px 17px;
		position: relative;
		vertical-align: middle;
		white-space: nowrap;
	}
}