// Place all the styles related to the status controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.stream{

	background: none repeat scroll 0% 0% #FFF;
	border-width: 1px;
	border-style: solid;
	-moz-border-top-colors: none;
	-moz-border-right-colors: none;
	-moz-border-bottom-colors: none;
	-moz-border-left-colors: none;
	border-image: none;
	border-color: #E5E6E9 #DFE0E4 #D0D1D5;
	border-radius: 3px;
	padding-top:10px;

	margin-bottom: 30px !important;

	.postOwner{
		margin-bottom: 10px;
	}
	.postCreateTime{
			color: #9197A3;
			font-size: 12px;
	}
	.postStatusContent{
		font-size: 14px;
		padding:10px;
	}

	
}