<ul class="side-nav">
  <li class="active"><a href="#">Board</a></li>
  <li><a href="#">Message</a></li>
  <li class="divider"></li>
  <li><a href="#">Group</a></li>
  <li><a href="#">Setting</a></li>
</ul>