<div class="row">
<div class="small-10 columns">

<div class="profileCover">
	<div class="coverImage">
	</div>
	<div class="profileAvatar">
	</div>

	<div class="profileFullname">
		<%= @user.fullname %>
	</div>
</div>

<div id="profileHeadline">

</div>

<h1>Profile#show</h1>
<p>Find me in app/views/profile/show.html.erb</p>




</div>
</div>